body {
	width: 1300px;
	margin: auto;
	font-family: "Segoe UI", Ubuntu, Helvetica, sans-serif;
	position:relative;
}

button {
	font-family: Arial;
	font-size:14px;
}

#map {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	position: relative;
	width: 640px;
	height: 300px;
	overflow: hidden;
}

#mapsub {
	text-align:center;
	width:600px;
	margin-top:1em;
	visibility:hidden;
}

#canvas_map {
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#EEE;
	z-index: -100;
}

#map div, #map h3 {
	color: #AAA;
	padding-left: 1em;
}

#mapcross {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
}

button:disabled {
	background: #AAA;
}

#left {
	float: left;
	width: 650px;
}
#right {
	position:absolute;
	right:0;
	top:65px;
	border-left: 1px solid #AAA;
	width: 650px;
}
#news {
	width:100%;
	height: 302px;
	overflow-y: scroll;
}